{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mon compte</h1>

<h3 class="text-center mt-4">Bienvenue <span class="text-muted">{{app.user.lastname}} {{app.user.firstname }}</span></h3>
<hr>

<a href="#">- Modifier mon mot de passe</a><br>
<a href="#">- Mes commandes</a><br>
<a href="#">- Mes adresses</a><br>

{% endblock %}